<%= image_tag("globeLogo.png",  :alt => "Travelagent.com for your travel needs" ) %>
<%= image_tag("travelagentbanner.png", :alt => "Travelagent.com is your home to arrange the perfect cruise" ) %>
<%=link_to 'Find a Cruise', cruises_path %>
 <%=link_to 'Make a Payment', reservations_path %></p>